.LoginForm-div {
  font-family: 'Helvetica';
  padding: 20px;
}

.LoginForm-title {
  text-align: center;
}

.LoginForm-div-formInput {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
  margin: 20px;
}

.LoginForm-label {
  font-size: 15px;
  padding: 2px;
}

.LoginForm-input {
  border: none;
  width: 300px;
  height: 25px;
  font-size: 15px;
}

.LoginForm-input:focus {
  outline: none;
}

.LoginForm-small {
  position: absolute;
  padding: 2px;
  text-align: end;
  color: rgb(118, 142, 202);
  transform: translate(190px, 50px);
}

.LoginForm-div-formButton {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}

.LoginForm-button {
  width: 120px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 5px;
}