@media  (max-width: 767px){
  .UserProfile-section_1{
    width: 100%;
    background-color: white;
    padding: 0 10px;
    margin: 10px;
    box-sizing: border-box;
  }
  .UserProfile-section_2{
    display: flex;
    background-color: white;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    justify-content: center;
  }
  .UserProfile-profilePhoto{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
  }
  .UserProfile-column_1{
    padding: 20px 0 0 20px;
    display: flex;
    align-items: center;
  }
  .UserProfile-column_2{
    padding: 20px;
  }
  .UserProfile-name{
    font-size: 25px;
    font-weight: 100;
    height: min-content;
    margin-left: 20px;
  }
  .UserProfile-bio{
    font-size: 14px;
    font-weight: 100;
  }
}

@media  (min-width: 768px) and (max-width: 1024px){
  .UserProfile-section_1{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
    'img info'
    'bio bio';
    width: 507px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }
  .UserProfile-profilePhoto{
    grid-area: img;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
    margin: 0;
  }
  .UserProfile-top_left{
    grid-area: info;
    width: 100%;
    height: 100%;
  }
  .UserProfile-name{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 100;
    height: min-content;
  }
  .UserProfile-bio{
    margin-top: 15px;
    grid-area: bio;
    font-size: 14px;
    font-weight: 100;
  }
}

@media (min-width: 1025px) {
  .UserProfile-section_1{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content auto;
    grid-template-areas: 
    'img info'
    'bio bio';
    width: 547px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }
  .UserProfile-profilePhoto{
    grid-area: img;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
    margin: 0;
  }
  .UserProfile-top_left{
    grid-area: info;
    width: 100%;
    height: 100%;
  }
  .UserProfile-name{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 100;
    height: min-content;
  }
  .UserProfile-bio{
    margin-top: 15px;
    grid-area: bio;
    font-size: 14px;
    font-weight: 100;
  }
}


.UserProfile-div{
  height: 100vh;
  overflow: scroll;
  box-sizing: border-box;
  width: 100%;
}
.UserProfile-section_2-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  padding: 10px;
}
.UserProfile-info{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}
.UserProfile-stats{
  font-size: 16px;
  font-weight: 700;
}