.SideBar-div{
  padding: 0 10px 0px 10px;
}
.SideBar-div-row{
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 5px 0 5px 0;
}
.SideBar-feed{
  padding: 10px 0 10px 0;
  font-weight: 300;
  cursor: pointer;
}
.SideBar-feed-active{
  padding: 10px 0 10px 0;
  font-weight: 300;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.SideBar-icon{
  margin-right: 10px;
  margin-left: 10px;
}
.SideBar-icon-active{
  background-color: rgba(0, 0, 0, 0);
  margin-right: 10px;
  margin-left: 10px;
}