.UserDropdown-ul {
  position: absolute;
  transform: translate(-10px, 80px);
  list-style-type: none;
  font-family: Helvetica;
  padding: 0;
  z-index: 1;
}

.UserDropdown-li{
  display: flex;
  align-items: center;
  width: 170px;
  height: 40px;
  border: 1px solid grey;
  padding-left: 15px;
  cursor: pointer;
}

.UserDropdown-p {
  padding: none;
  margin-left: 15px;
  font-size: 14px;
  font-family: "Verdana";
}

.span-modalButton {
  margin-left: 15px;
}
