.UserDropdown-ul {
  position: absolute;
  transform: translate(0, 70px);
  list-style-type: none;
  font-family: Helvetica;
  padding: 0;
  z-index: 1;
}

.UserDropdown-li{
  display: flex;
  align-items: center;
  width: 170px;
  height: 40px;
  border: 1px solid grey;
  padding-left: 15px;
  cursor: pointer;
  background-color: white;
}

.UserDropdown-li_1{
  border-radius: 5px 5px 0 0;
}

.UserDropdown-li_2{
  border-radius: 0 0 5px 5px;
}

.UserDropdown-p {
  padding: none;
  margin-left: 15px;
  font-size: 14px;
  font-family: "Verdana";
}

.span-modalButton {
  margin-left: 15px;
}
