.Post-div{
  overflow-y: scroll;
  height: 700px;
}
.Post-div-box{
  width: 50vw;
  border-bottom: 1px solid grey;
  padding: 10px;
}
.Post-name{
  font-weight: bold;
}
.Post-caption{
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Post-hashtag{
  color: rgb(0, 119, 255);
}
.Post-date{
  text-align: end;
}