.Post-div {
  overflow-y: auto;
  height: 700px;
  margin: 20px;
  width: 100%;
}
.Post-div-box {
  width: 500px;
  border-bottom: 1px solid grey;
  padding: 10px;
}
.Post-username {
  margin: 5px;
}
.Post-name {
  font-weight: bold;
  margin-bottom: 5px;
}
.Post-caption {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Post-hashtag {
  color: rgb(0, 119, 255);
}