/* ----- GLOBAL ----- */

  html,
  body{
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    /* background: url('../images/background-mountain.jpeg'); */
    color: rgb(0, 0, 0);
  }

/* ----- GLOBAL ----- */



/* ----- ICONS ----- */

  .fas{
    color: rgb(74, 74, 74);
    font-size: 20px;
  }

  .fas:hover{
    cursor: pointer;
  }

  .fa-search{
    margin: 0 10px;
    font-size: 18px;
  }

  .fa-user{
    margin: 10px 10px;
    padding: 5px;
  }

  .fa-bars{
    margin: 10px 10px;
    padding: 5px;
  }

  .fa-cog{
    font-size: 14px;
    padding: 7px;
  }

  .fa-sign-in-alt{
    font-size: 14px;
    padding: 7px;
  }

  .fa-times{
    position: absolute;
    font: 14px;
    transform: translate(-8px, -10px);
  }

  .fa-plus{
    font-size: 20px;
    color: white;
  }

/* ----- ICONS ----- */



/* ----- HEADER ----- */

  .div-header{
    padding: 3px 0;
    display: grid;
    grid-template-areas: 'left-side right-side';
    grid-template-rows: 1fr;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  .div-ls-header{
    display: flex;
    grid-area: left-side;
  }

  .div-rs-header{
    display: flex;
    width: right-side;
    justify-self: flex-end;
    align-items: center;
  }

  .box-search{
    height: 30px;
    margin: 10px 15px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.2);
  }

  #input-search{
    width: 200px;
    height: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: none;
    padding: 0 10px;
  }

  #input-search::placeholder{
    color: rgb(0, 0, 0);
  }

  input[type='text']:focus{
    outline: none;
  }

  .user-dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    transform: translateY(0px);
    display: none;
    cursor: pointer;
  }

  .div-user-dropdown{
    width: 120px;
    height: 30px;
    background-color: rgba(74, 74, 74, 0.2);
    border: 1px solid rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bolder;
  }

/* ----- HEADER ----- */



/* ----- SOCIAL POST ----- */

#new-post{
  position: absolute;
  border: none;
  box-shadow: none;
}

.social-post{
  height: min-content;
  width: 400px;
  background-color: rgba(255, 255, 255);
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-areas: 
  'header'
  'body';
  grid-template-rows: 45px auto;
  row-gap: 5px;
  color: black;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 4px rgb(150, 150, 150);
  margin: 15px;
}

.sp-header{
  grid-area: header;
  display: flex;
  align-items: center;
}

.sp-header img{
  height: 40px;
  width: auto;
  border-radius: 50%;
}

.sp-body{
  grid-area: body;
  display: flex;
}

.sp-name{
  position: absolute;
  transform: translate(50px, -10px);
  font-size: 15px;
  font-weight: bold;
}
.sp-user{
  position: absolute;
  transform: translate(50px, 10px);
  font-size: 13px;
  font-weight: 400;
}

.sp-paragraph{
  font-size: 15px;
  line-height: 1.4;
}

#textarea{
  height: 100px;
  width: 360px;
  resize: none;
  border: none;
}

#textarea:focus{
  border: none;
  outline: none;
}

#create-post-button{
  position: fixed;
  background-color: rgb(255, 71, 71);
  width: min-content;
  margin: 15px;
  padding: 10px;
  border-radius: 50%;
  right: 0;
  bottom: 0;
}

/* ----- SOCIAL POST ----- */



/* ----- MAIN BODY ----- */
.body-header{
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 35px;
  grid-template-areas: 
  'following explore'
  'line01 line02';
  justify-content: center;
}

#bh-following{
  grid-area: following;
  justify-self: center;
  margin: 10px;
}

#bh-explore{
  grid-area: explore;
  justify-self: center;
  margin: 10px;
}

#bh-line01{
  grid-area: line01;
  display: none;
}

#bh-line02{
  grid-area: line02;
}

.bh-lines{
  margin: 2px;
  width: 50px;
  height: 3px;
  background-color: black;
  justify-self: center;
}




/* ----- MAIN BODY ----- */





