.Post-div{
  overflow-y: scroll;
}
.Post-div::-webkit-scrollbar{
  display: none;
}
.Post-div-box{
  grid-area: col1;
  width: 45vw;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 10px;
  margin: 0 10px 0 10px;
}
.Post-img-profile{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-position: center;
  margin-right: 10px;
}
.Post-name{
  font-weight: bold;
}
.Post-username{
  font-size: 14px;
  margin: 5px 0 0 0;
  color: rgb(0, 0, 0);
}
.Post-caption{
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Post-image{
  width: 100%;
}
.Post-hashtag{
  color: rgb(60, 102, 208);
  cursor: pointer;
}
.Post-bottom{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 5px;
}
.Post-div-icon{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  margin: 0 10px 0 0;
  cursor: default;
}
.Post-icon{
  margin: 0 0 0 5px;
  cursor: pointer;
}
.Post-commentSection{
  height: 200px;
  overflow-y: scroll;
}