@media (max-width: 767px){
  .Post-div-box{
    grid-area: col1;
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
  }
  .Post-line{
    height: 1px;
    width: 100%;
    background-color: black;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .Post-div-box{
    grid-area: col1;
    width: 507px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
  }
  .Post-line{
    height: 1px;
    width: 487px;
    margin: 0 20px;
    background-color: black;
  }
  .Post-menu{
    position: absolute;
    background-color: white;
    transform: translate(410px, 25px);
    font-size: 12px;
    font-weight: 600;
  }
}

@media (min-width: 1025px){
  .Post-div-box{
    grid-area: col1;
    width: 547px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
  }
  .Post-line{
    height: 1px;
    width: 547px;
    margin: 0 10px;
    background-color: black;
  }
  .Post-menu{
    position: absolute;
    background-color: white;
    transform: translate(450px, 25px);
    font-size: 12px;
    font-weight: 600;
  }
}
.Post-div{
  cursor: default;
}
.Post-div::-webkit-scrollbar{
  display: none;
}
.Post-text_input{
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  width: 85%;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
}
.Post-text_input:focus{
  outline: none;
}
.Post-img-profile{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-position: center;
  margin-right: 10px;
  cursor: pointer;
}
.Post-label{
  cursor: pointer;
  width: 90%;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
.Post-name{
  font-weight: bold;
  cursor: pointer;
}
.Post-username{
  font-size: 14px;
  margin: 5px 0 0 0;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.Post-caption{
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Post-image{
  width: 100%;
  max-height: 400px;
  background-position: center;
  object-fit: contain;
}
.Post-hashtag{
  color: rgb(60, 102, 208);
  cursor: pointer;
}
.Post-bottom{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 5px;
}
.Post-div-icon{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  margin: 0 10px 0 0;
  cursor: default;
}
.Post-icon{
  margin: 0 0 0 5px;
  cursor: pointer;
}
.Post-menu_options{
  border: solid 1px black; 
  width: 70px; 
  height: 20px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
