@media (max-width: 787px){
  .Comments-div{
    padding: 10px 0 10px 0;
    width: 100%;
    box-sizing: border-box;
  }
}

@media (min-width: 788px) and (max-width: 1024px){
  .Comments-div{
    padding: 10px 0 10px 0;
    width: 507px;
    box-sizing: border-box;
  }
}

@media (min-width: 1025px){
  .Comments-div{
    padding: 10px 0 10px 0;
    width: 547px;
    box-sizing: border-box;
  }
}

.Comments-box{
  display: flex;
  margin: 13px 0;
  cursor: default;
  width: 100%;
}
.Comments-box-column-2{
  margin-left: 5px;
}
.Comments-profilePhoto{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}
.Comments-username{
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.Comments-text{
  font-size: 14px;
}
.Comments-reply{
  margin-top: 5px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.Comments-text_input{
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 5px;
  font-size: 14px;
  width: 80%;
  border-radius: 10px;
  padding-left: 15px;
}
.Comments-text_input:focus{
  outline: none;
}
.Comments-label{
  position: relative;
  height: 0;
  width: 0;
  white-space: nowrap;
  font-size: 14px;
  transform: translate(21px, 11px);
  cursor: text;
}
.Comments-submit{
  margin-bottom: 5px;
  margin-left: 10px;
}