.FollowingModal {
  position: relative;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
}
.FollowingModal-div {
  position: sticky;
  top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: self-start;
  width: 350px;
  height: 600px;
  border-radius: 10px;
  background-color: rgb(222, 222, 222);
}