.CreatePost-div{
  transform: translateX(201px);
  margin: 10px;
  border: 1px solid black;
}
.CreatePost-name{
  font-weight: bold;
}
.CreatePost-form{
  padding-top: 10px;
}
.CreatePost-textarea{
  resize: none;
  width: 50vw;
  height: 100px;
  border: none;
}
.CreatePost-textarea:focus{
  outline: none;
}