* {
  font-family: 'Helvetica';
  margin: 0;
}
body, html {
  background-color: rgb(237, 237, 237);
}
button{
  cursor: pointer;
}

@media (max-width: 767px) {
  .Navigation-index{
    transform: translate(0, 49.5px);
  }
  .All_Posts-section_1{
    padding: 10px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Navigation-index{
    transform: translate(201px, 0);
  }
  .All_Posts-section_1{
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    width: 507px;
    border-radius: 10px;
    box-sizing: border-box;
  }
}

@media (min-width: 1025px){
  .Navigation-index{
    transform: translate(201px, 0);
  }
  .All_Posts-section_1{
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    width: 547px;
    border-radius: 10px;
    box-sizing: border-box;
  }
}

.All_Posts-label{
  cursor: pointer;
  width: 90%;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.All_Posts-img-profile{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-position: center;
  margin-right: 10px;
  cursor: pointer;
}

.All_Posts-section_1 > .row_1{
  display: flex;
  align-items: center;
}

.All_Posts-section_1 > .row_2{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}