.PostDetail-div{
  display: flex;
}
.PostDetail-div-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  overflow-y: scroll;
}
.PostDetail-name{
  font-weight: bold;
}
.PostDetail-username{
  font-size: 12px;
  margin: 5px 0 0 0;
  color: rgb(173, 173, 173);
}
.PostDetail-caption{
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 65vw;
}
.PostDetail-image{
  width: 65vw;
}
.PostDetail-hashtag{
  color: rgb(118, 142, 202);
}
.PostDetail-icon{
  margin-right: 10px; 
}
.PostDetail-like{
  margin-right: 10px;
}
.PostDetail-activeLike{
  margin-right: 10px;
  color: red;
}
.PostDetail-bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 65vw;
}
.PostDetail-commentSection{
  height: 200px;
  width: 65vw;
  overflow-y: scroll;
}