
.Navigation-div-topBar {
  display: flex;
  height: 60px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.div-leftNav {
  width: 50vw;
}
.div-rightNav {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#faUser {
  font-size: 30px;
  margin: 10px;
}
.Navigation-div-sideBar{
  position: absolute;
  width: 200px;
  border-right: 1px solid rgb(0, 0, 0);
}
.Navigation-newPost{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  z-index: 1;
  transform: translate(95vw, 84vh);
  cursor: pointer;
}